.container-calculator {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 60px;
}

.display {
    display: flex;
    justify-content: center;
}

.first-row {
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    justify-content: center;
}

.third-row {
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: center;
}