.container-calculator {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: auto;
}

.calculator-body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 300px;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #eaedef;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 300px;
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px; */
}

.output {
    display: flex;
    justify-content: center;
}

.first-row {
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    justify-content: center;
}

.third-row {
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: center;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-right {
    display: flex;
    justify-content: center;
}