.container-calculator {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: auto;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 300px;
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
}

.output {
    display: flex;
    justify-content: center;
}

.first-row {
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    justify-content: center;
}

.third-row {
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: center;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-right {
    display: flex;
    justify-content: center;
}